/*
 * Copyright (c) 2019 Callender-Consulting, LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&spi1 {
    status = "okay";
    sck-pin = <25>;
    mosi-pin = <23>;
    miso-pin = <24>;
    cs-gpios = <&gpio0 22 0>;

    lmic@0 {
        compatible = "ibm,sx1276";
        reg = <0>;
        spi-max-frequency = <1000000>;
        label = "SX1276";
        reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
        dio0-gpios  = <&gpio0 13 0>;
    };
};
